* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}
body {
  background-color: #fff;
}
footer {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.container {
  display: none;
  position: relative;
}

/* Navigation Bar  Section*/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 20px;
  padding-top: 2px;
  position: relative;
}
.logo {
  padding-top: 5px;
}
input::placeholder {
  color: #e5e5e5;
}
.input {
  width: 250px;
  height: 30px;
  border-radius: 18px;
  border: 2px solid #fff;
  text-align: center;
  font-size: 16px;
  outline: none;
  background: transparent;
  color: #e5e5e5;
}
button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* Main Weather Section */
.location {
  padding-top: 5px;
}
.city {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 5px;
}
.date {
  font-size: 16px;
  font-weight: 300;
  color: #ededed;
}
.main-weather {
  display: none;
  text-align: center;
  color: black;
}
.temp {
  font-size: 100px;
  color: #fff;
  font-weight: 800;
  padding-top: 30px;
}
.description {
  font-size: 20px;
  color: #ededed;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.feel {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
  color: #e5e5e5;
}
.feel-value {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}
.last {
  color: black;
}
.min-max {
  font-size: 18px;
  padding-top: 3px;
  font-weight: 700;
  color: #fff;
}

/* Weather Details Section*/
.details {
  color: #ededed;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
  position: relative;
}

.details span {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.sun-sun {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8px;
}
.speed-direction {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8px;
}

.pres-hum {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Video Background */
#clouds {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  display: none;
}
/* Media Query Tablet Size */
@media (min-width: 426px) and (max-width: 964px) {
  .input {
    width: 80vw;
  }
  .details {
    display: none;
  }
  .main-weather {
    margin:0 50px;
    float: left;
    padding-top: 25px;
  }
  /* Weather Images */
  #grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.7;
  }
  .img {
    width: 115px;
    height: 115px;
    margin: 25px 5px 0 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }
  footer {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }
  button {
    outline: none;
    background: transparent;
    border: none;
  }
}

/* Media Query Desktop Size */
@media (min-width: 965px) {
  .input {
    width: 80vw;
  }
  .details {
    display: none;
  }

  .main-weather {
    margin: auto;
    float: left;
    padding-top: 25px;
  }
  /* Weather Images */
  #grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .img {
    width: 200px;
    height: 200px;
    margin: 25px 5px 0 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
  }
}
